body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #7EBAF0;
}
*, *:before, *:after{
	box-sizing: inherit;
}
#gameContainer{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 700px;
	align-content: center;
	margin-left: 30%;
	margin-top: 15%;
}
.card {
	position: relative;
	width: 100px;
	height: 100px;
	margin: 5px;
	text-align: center;
	line-height: 100px;
	cursor: pointer;	
}
.front,.back{
	position: absolute;
	width: 100px;
	height: 100px;
	top:0;
	left:0;
}
.front {
	background-color: black;
	color:white;
	font-size: 40px;
}
.back{
	background-color: grey;
	color: white;
}