body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #7EBAF0;
	transition: background-color 1s;
}
*, *:before, *:after{
	box-sizing: inherit;
}
#gameContainer{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 700px;
	align-content: center;
	margin-left: 30%;
	margin-top: 15%;
}
.card {
	position: relative;
	width: 100px;
	height: 100px;
	margin: 5px;
	text-align: center;
	line-height: 100px;
	cursor: pointer;	
	overflow: hidden;
}
.front,.back{
	position: absolute;
	width: 100px;
	height: 100px;
	top:0;
	left:0;
}
.front {
	background-color: black;
	color:white;
	font-size: 40px;
	border:1px solid black;
	border-radius: 15px;
	font-family: Sans-serif;
}
.back{
	background-color: grey;
	color: white;
	border:1px solid grey;
	border-radius: 15px;
	font-family: sans-serif; 
}
.cardPics{
	position: absolute;
	top: 8px;
	bottom: 0;
	left: 0;
	right: 0;
	max-height: 100%;
	max-width: 100%;
}